Django==3.0.8
django-scheduler==0.9.3
django-crispy-forms==1.9.2
django-dynamic-formsets==0.0.8
django-autocomplete-light==3.5.1
django-fontawesome-5 == 1.0.18
django-smart-selects
sorl-thumbnail==12.7.0
Pillow==8.1.0
django-colorfield==0.4.2
coloredlogs==10.0
flake8==3.9.2
flake8-blind-except==0.1.1
flake8-commas==2.0.0
flake8-docstrings==1.3.0
flake8-isort==2.5
flake8-pep3101==1.2.1
flake8-quotes==1.0.0
flake8-string-format==0.2.3
ipdb==0.13.0
ipython==7.0.1
isort==4.3.4
pydocstyle==3.0.0
pytest==4.6
pytest-cov==2.12.1
pytest-django==3.4.3
sort-requirements==1.3.0
django-rosetta==0.9.4
mysqlclient