asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
coloredlogs==10.0
coverage==6.0.2
decorator==5.1.0
Django==3.0.8
django-appconf==1.0.6
django-autocomplete-light==3.5.1
django-bootstrap-form==3.4
django-colorfield==0.4.2
django-compressor==2.4
django-compressor-toolkit==0.6.0
django-crispy-forms==1.9.2
django-dynamic-formsets==0.0.8
django-fontawesome-5==1.0.18
django-npm==1.0.1
django-rosetta==0.9.4
django-scheduler==0.9.3
django-smart-selects==1.5.9
flake8==3.9.2
flake8-blind-except==0.1.1
flake8-commas==2.0.0
flake8-docstrings==1.3.0
flake8-isort==2.5
flake8-pep3101==1.2.1
flake8-polyfill==1.0.2
flake8-quotes==1.0.0
flake8-string-format==0.2.3
gunicorn==20.1.0
humanfriendly==10.0
icalendar==4.0.9
idna==3.3
importlib_metadata==8.4.0
ipdb==0.13.0
ipython==7.0.1
isort==4.3.4
jedi==0.18.0
mccabe==0.6.1
more-itertools==8.10.0
mysqlclient==2.0.3
npm==0.1.1
optional-django==0.1.0
packaging==21.0
parso==0.8.2
pexpect==4.9.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
polib==1.1.1
prompt-toolkit==2.0.10
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pydocstyle==3.0.0
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pyreadline3==3.3
pytest==4.6.0
pytest-cov==2.12.1
pytest-django==3.4.3
python-dateutil==2.8.2
pytz==2021.3
rcssmin==1.0.6
requests==2.26.0
rjsmin==1.1.0
simplegeneric==0.8.1
six==1.16.0
snowballstemmer==2.1.0
sorl-thumbnail==12.7.0
sort-requirements==1.3.0
sqlparse==0.4.2
testfixtures==6.18.3
toml==0.10.2
traitlets==5.1.0
typing_extensions==4.13.2
urllib3==1.26.7
wcwidth==0.2.5
whitenoise==6.7.0
zipp==3.6.0