html, body{
  height: 100%;
}
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    width: 100%;
  overflow: hidden;
  background-color: #003366;
    position: static;

}

.navigation-bar li {

  float: right;
    border-right: 1px solid #bbb;

}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}

.navigation-bar li:first-child {
  border-right: none;
}
.navigation-bar .logo{
    background-color: #003366;
}
.footer {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: black;
  opacity: 80%;
  color: white;
  text-align: center;
}


.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 16%;
  height: 100vw;
  background-color: #205067;
  position: absolute;
  overflow: auto;
  vertical-align : middle;


}

.navi li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.navi li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.field {

  margin-left: 16%;
  padding: 1px 16px;
}

.createService {
background-color: #79aec8;

}
.calendar-event{
  text-align: center;
}