
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
}

.navigation-bar li {

  float: right;
    border-right: 1px solid #bbb;

}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}

.navigation-bar li:first-child {
  border-right: none;
}
.navigation-bar .logo{
    background-color: #003366;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
