nav{

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {

  float: right;
    border-right: 1px solid #bbb;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}
nav body{
    background-color: #c4dce8;
}
nav li a:hover {
  background-color: #111;
}
nav li:first-child {
  border-right: none;
}
