/src/project.db
.idea
.pydevproject
.settings
.project
env*
public
apps_static
*.log
*.pot
*.pyc
sqlite3.db
*.db
wsgi_local*
settings_local.py
settings_meta.py
celery_local.py
logs/
smarty/
celerybeat-*
dump.rdb
media/
src/*
.cache
.coverage
.uwsgi.pid
local_migrate_mysql_to_pg.sh
local_simplifee_skrypt.sql
local_migrate.load
