<!doctype html>
<html lang="en">
{% load static %}

<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XDSSSSSSSSSSSSSSSS</title>
</head>
<body>
    <nav class="navigation-bar">
<ul>
    <li class="logo" style="float:left"><a href="#" ><b>e-planner+</b></a></li>
        <li><a href="#">Logout</a></li>
    <li><a href="#">Settings</a></li>
      <li><a href="#">Plan</a></li>
    <li><a href="#">Home Page</a></li>
</ul>

    </nav>>
    xDDDDDDDDDDDDDDDDd


<div class="footer">
  <p>created by: Piotr Kosiński</p>
</div>

</body>
</html>