{% extends 'base.html' %}
{% load static i18n %}



  {% block content %}

      <div class="main-title">Strona główna</div>
      <div class="box content-wrap">
          <b>Autor:</b> Piotr Kosiński<br>
                    <b>Promotor:</b> dr Paweł Drozda<br>
          <b>Kierunek:</b> Informatyka<br>
          <b>Specjalizacja:</b> Inżynieria Systemów Informatycznych<br>
<b>Tytuł pracy:</b> Aplikacja wspomagająca planistę przy tworzeniu planów zajęć<br>
      <b>Opis:</b> Planner+ jest to aplikacja internetowa stworzona w Pythonie z wykorzystaniem frameworka Django oraz <br>technologii HTML, CSS i Bootstrap. Ma ona za zadanie wspieranie planistów w efektywnym tworzeniu planów zajęć.<br> Korzystać z niej może każda zarejestrowana osoba, która w późniejszym czasie ma nadaną rolę przez administratora.<br> Role, które występują są to uczeń, planista oraz nauczyciel. Aplikacja oferuje moduł dla planisty, w którym może on<br> dodawać klasy, przypisywać do nich zarejestrowanych uczniów, tworzyć sale oraz planować lekcje. Gotowe plany zajęć<br> są wyświetlane w czytelnym i atrakcyjnym graficznie formacie, co umożliwia szybkie zorientowanie się w harmonogramie.<br> Dzięki funkcji filtrowania użytkownicy mogą łatwo wyświetlić plan zajęć dla jednej konkretnej klasy lub dla kilku klas<br> jednocześnie, co jest szczególnie przydatne w przypadku złożonych harmonogramów.<br>

      </div>

  {% endblock %}

{% block  foo %}

    <div class="footer">
  <p>created by: Piotr Kosiński</p>
</div>
    {% endblock %}
{% block extra_js %}
  <!-- Scheduler JS -->
  <script src="{% static 'jquery-schedule/dist/jquery.schedule.js' %}"></script>
  <script src="{% static 'js/user_panel.js' %}"></script>
  {% block user_panel_extra_js %}
  {% endblock user_panel_extra_js %}
{% endblock extra_js %}

