{% extends 'base.html' %}
{% load static i18n%}
  {% block content %}
  <script>
    $(document).ready(function(){
      moment.locale('en');
      var now = moment();


      var events = [
          {% for lesson in lessons %}
        {
          start: ((moment(new Date('{{lesson.changeYear}}')))).unix().toString(),
          end: (moment(new Date('{{lesson.changeYearOver}}'))).unix().toString(),
          title: '{{lesson.lesson_name}}',
          content: '{{lesson.lesson_name}} <br> sala: {{ lesson.Sala }} <br>  nauczyciel: {{ lesson.Nauczyciel }}',
          category:'{{lesson.Klasa}}'
        },
          {% endfor %}

]

      /**
       * A daynote
       */
      var daynotes = [

      ];

      /**
       * Init the calendar
       */
      var calendar = $('#calendar').Calendar({
        locale: 'en',
        weekday: {
          timeline: {
            intervalMinutes: 30,
            fromHour: 9
          }
        },
        events: events,
        daynotes: daynotes
      }).init();

      /**
       * Listening for events
       */

      $('#calendar').on('Calendar.init', function(event, instance, before, current, after){
        console.log('event : Calendar.init');
        console.log(instance);
        console.log(before);
        console.log(current);
        console.log(after);
      });
      $('#calendar').on('Calendar.daynote-mouseenter', function(event, instance, elem){
        console.log('event : Calendar.daynote-mouseenter');
        console.log(instance);
        console.log(elem);
      });
      $('#calendar').on('Calendar.daynote-mouseleave', function(event, instance, elem){
        console.log('event : Calendar.daynote-mouseleave');
        console.log(instance);
        console.log(elem);
      });
      $('#calendar').on('Calendar.event-mouseenter', function(event, instance, elem){
        console.log('event : Calendar.event-mouseenter');
        console.log(instance);
        console.log(elem);
      });
      $('#calendar').on('Calendar.event-mouseleave', function(event, instance, elem){
        console.log('event : Calendar.event-mouseleave');
        console.log(instance);
        console.log(elem);
      });
      $('#calendar').on('Calendar.daynote-click', function(event, instance, elem, evt){
        console.log('event : Calendar.daynote-click');
        console.log(instance);
        console.log(elem);
        console.log(evt);
      });
      $('#calendar').on('Calendar.event-click', function(event, instance, elem, evt){
        console.log('event : Calendar.event-click');
        console.log(instance);
        console.log(elem);
        console.log(evt);
      });
    });
  </script>

  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-xs-12">
        <h1> </h1>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
{% endblock content %}
