{% extends 'base.html' %}
{% load static i18n %}

  {% block content %}

          <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/naviset.css' %}" rel="stylesheet">


      <div class="navi">

<ul>
    <li><a href="{% url 'user_profile' %}">{% trans 'User Profile' %}</a></li>
    <button class="dropdown-btn">{% trans 'Planner Panel' %}</button>
  <div class="dropdown-container">
      <li><a href="{% url 'class_panel' %}">{% trans 'Class Panel' %}</a></li>
            <li><a href="#">{% trans 'Class Student Panel' %}</a></li>
      <li><a href="{% url 'room_panel' %}">{% trans 'Rooms Panel' %}</a></li>
      <li><a href="{% url 'lesson_panel' %}">{% trans 'Lessons Panel' %}</a></li>
  </div>

        <li><a href="/admin">{% trans 'Admin Panel' %}</a></li>

<script src="{% static 'js/smenu.js' %}"></script>


</ul>
      </div>

      <div class="field">

  {% block settings_content %}


  {% endblock %}
      </div>


  {% endblock %}