{% extends 'settings.html' %}
{% load bootstrap %}
{% load static i18n %}

  {% block settings_content %}

<div class=" justify-content-center align-items-center" align="center">
      <div class="card" style="width: 30rem;" align="left">
  <div class="card-body">
    <h5 class="card-title">{% trans 'User profile' %}</h5>
      <form method="post" >
      {% csrf_token %}
          {{ form|bootstrap }}
      <button type="submit"  class="btn btn-primary">{% trans 'Save' %} <i class="far fa-save"></i></button>


      </form>
  </div>
</div>
</div>

  {% endblock %}