{% extends 'settings.html' %}
{% load static i18n %}
{% block settings_content %}
  <div id="mediaPanel" class="user-panel-main pr-3 pl-3 mt-2">
    <div class="container-fluid">
      <div class="row">
        <div id="mediaLeftPanel" class="col-12 col-lg-6">
          <div id="mediaForm"
               class="card mt-2 mb-2 shadow form hidden bg-transparent text-white">
            {% include 'settings/plannerpanel/UserInClass/add_form.html' %}
          </div>
            {% include 'settings/plannerpanel/UserInClass/uic_list.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}